.main.container {
	height: 100%;
}

.basic-detail {
	height: 100%;
}

.basic-detail .store-switch {
	height: 40px;
    display: flex;
    border: 1px solid #e8e8e8;
}

.basic-detail .store-switch .store-title {
    width: 60%;
    -webkit-display: flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.basic-detail .store-switch .store-title .name {
    margin-left: 20px;
    margin-right: 20px;
}

.basic-detail .store-switch .store-name {
    width: 40%;
    background-color: #f5f5f5;
    -webkit-display: flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.basic-detail .store-switch .store-name ul {
	float: left;
    line-height: 39px;
    margin: 0;
    padding: 0;
}

.basic-detail .store-switch .store-name ul li {
	float: left;
}

.basic-detail .store-switch .store-name ul li a {
 	height: 39px;
    margin-left: -1px;
    padding: 0 19px;
    float: left;
    display: block;
    border-left: solid 1px #f5f5f5;
    border-right: solid 1px #f5f5f5;
    text-decoration: none;
    color: #6d6d6d;
}

.basic-detail .store-switch .store-name ul li a.active {
    position: relative;
    z-index: 1;
    background-color: #fff;
    border-color: #e5e5e5;
    color: rgb(255, 90, 0);	
}


/* 商家详情 */
.basic-detail .store-basic {
	border: 1px solid #e8e8e8;
    margin-top: 20px;
}

.basic-detail .store-basic .store-info {
	display: flex;
    flex-direction: row;
    padding: 10px;
    border-bottom: 1px solid #e8e8e8;
}

.basic-detail .store-basic .img img {
	width: 205px;
    height: 151px;
}
.basic-detail .store-basic .basic {
	margin-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.basic-detail .store-basic .basic .name span {
	margin-right: 10px;
}

.basic-detail .store-basic .basic-info {
	display: flex;
	flex-direction: row;
}
.basic-detail .store-basic .basic-info .staff-other {
	width: 20%;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #e8e8e8;
}
.basic-detail .store-basic .basic-info .staff-other .other-staff {
	padding: 10px 0;
    display: flex;
}
.basic-detail .store-basic .basic-info .staff-other .other-staff img {
    width: 120px;
    height: 100px;
}
.staff-info {
	width: 80%;
}

.basic-detail .store-basic .basic-info .tab-content {
	margin: 20px 10px;
	font-size: 16px;
}

.basic-detail .store-basic .basic-info .tab-content img {
	margin-bottom: 20px;
}

.basic-detail .store-basic .store-order {
	padding: 20px 0;
	display: flex;
	align-items: center;
}

.basic-detail .store-basic .store-order button {
	margin-right: 10px;
}