body {
    min-width: 1250px;
    font: 1em/1.55 Verdana,Arial,Helvetica,sans-serif;
}

/*
    top_nav的css
*/
#header #top_nav {
    background-color: #f5f5f5;
    font-size: 0.75em;
    height: 36px;
    line-height: 36px;
    width: 100%;    
}

#header #top_nav .top_nav_inner {
    width: 1200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #3c3c3c;
}

#header #top_nav .top_nav_inner .top_nav_left {
    float: left;
}

#header #top_nav .top_nav_inner .top_nav_right {
    height: 30px;
    float: right;
}

#header #top_nav .top_nav_inner .top_nav_right .login-text {
    margin: 0 30px 0 10px;
    width: auto;
}

.top_nav_right .t_r {
    float: left;
    width: 90px;
}

#header #top_nav .top_nav_inner .top_nav_right .login-text a {
    color: #3c3c3c;
}

#header #top_nav .top_nav_inner .top_nav_right .t_r .top_account {
    height: 90px;
    width: 50px;
}

#header #top_nav .top_nav_inner .top_nav_right .t_r.top_account .top_account dt {
    display: block;
    height: 90px;
}
#header #top_main {
    height: 111px;
    padding-top: 10px;
    background-color: #fff;
}

.top_nav_right .t_r a {
    color: #3c3c3c;
}

.top_account .mycoount {
    background: rgba(0, 0, 0, 0) url(../img/toptip.png) no-repeat scroll left top;
    display: inline-block;
    height: 25px;
    margin-right: 15px;
    margin-top: 8px;
    width: 24px;
}

.top_account:hover dd {
    display: block;
}

.top_account dd {
    min-width:80px;
    margin: -9px 0 0 -9px;
    padding: 0 16px 0px 16px;
    position: absolute;
    background: #fff;
    border: 1px solid #aaa;
    display: none; 
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.2);
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    z-index: 9999999;
}

.top_nav_right .t_r.top_account {
    height: 40px;
    width: 80px;
}

.top_nav_right .top_account dd a {
    color: #3c3c3c;
}

.header-title {
    font-size: 10px;
    color: #3c3c3c;
}

#js_favour_num {
    color: #3c3c3c;
    float: left;
    margin-left: 10px;
}


#js_cart_items {
    color: #3c3c3c;
    float: left;
    margin-left: 6px;
}

/*
    top_main的css
*/
.top_main_inner {
    width: 1200px;
    clear: both;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 19;
}

.pr {
    position: relative;
}

.top_header {
    height: 90px;
    display:-webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding-bottom: 20px;
}

/* 搜索框 */
.topSeachForm {
    width: 53%;
    height: 100%;
    display:-webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.topSeachForm form {
    width: 100%;
    align-self: center;
}

.topSeachForm .choose_type {
    padding-left: 20px;
}

.topSeachForm .choose_type .type {
    margin-right: 5px;
    padding: 2px 5px 0px 5px;
    border: 0px;
    background-color: transparent;
    color: rgb(255, 90, 0);
    font-weight: 700;
}
/* 商家或服务人员被选中 */
.topSeachForm .choose_type .choosed {
    color: #fff;
    background-color: rgb(255, 90 ,0);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.topSeachForm .top_seachBox {
    height: 24px;
    background-color: #fff;
    border: 2px solid #ff3700;
    padding: 5px 27px 5px 9px;
    border-radius: 20px;
}

.topSeachForm .searchInput {
    width: 250px;
}

.fl {
    display: inline;
    float: left;
}

.topSeachForm .searchArea {
    background-color: #fff;
    border: medium none;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    outline: 0 none;
    width: 100%;
}

.topSeachForm .seachBtn {
    cursor: pointer;
}

.topSeachForm .seachBtn {
    width: 74px;
    height: 36px;
    margin-top: -7px;
    margin-right: -28px;
    font-size: 18px;
    font-weight: 700;
    float: right;
    background-color: rgb(255, 90, 0);
    color: #fff;
    border: medium none;
    border-radius: 0 20px 20px 0;
}

.topSeachForm .t_hidden {
    font: 0px/0 Verdana;
}

/* logo */
.logo {
    width: 22%;
    height: 100%;
}

.logo img {
    width: 190px;
    height: 90px;
    border: none;
}

/* 二维码 */
.yx_server {
    width: 25%;
    height: 100%;
    text-align: center;
}
.yx_server img {
    width: 76px;
    height: 90px;
    border: none;
}


/*
    main-container的css
*/
.main-container {
    min-height: 600px;
}

.main.container {
    width: 1200px;
    min-width: 1200px;
    margin: auto;
}


/*
    footer的css
 */
#footer {
    height: 200px;
    width: 100%;
    min-width: 1230px;
    padding: 20px 0;
    text-align: center;
    background: #fff;
    border-top: 2px solid #eee;
}

#footer a {
    color: #333333!important;
}
