.main.container {
	border: 1px solid #e9e9e9;
}
.staff_detail .detail_cart {
	margin: 10px 0;
	display: flex;
}
.staff_detail .detail_cart .img img {
	width: 300px;
	height: 300px;
	border: 1px solid #e9e9e9;
}
.staff_detail .detail_cart .detail {
	width: 100%;
	padding: 0 30px;
} 

/* 服务选项 */
.staff_detail .detail_cart .detail .choose-server {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.staff_detail .detail_cart .detail .choose-server .one-server {
	width: 25%;
}

.staff_detail .detail_cart h3,.staff_detail .detail_cart h4,.staff_detail .detail_cart h5 {
	margin: 0 0 5px 0;
	padding: 0;
}
.detail_info {
	display: flex;
}
.staff_info {
	width: 20%;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #eee;
}
.staff_info .other_staff {
	padding: 10px 0;
	display: flex;
	border-bottom: 1px solid #eee;
}
.staff_info .other_staff img {
	width: 120px;
	height: 100px;
}

.detail_info .staff_comment {
	width: 80%;
	border: 1px solid #eee;
}

.tabs {
	margin: 40px 60px;
	border: 1px solid #eee;
}
.tabs .table {
	margin-bottom: 0px!important;
}