html,
body {
    height: 100%;
}
body{
    margin:0;
    padding:0;
    font-family:"微软雅黑";
}
.max_login{
    width:100%;
    height:650px;
    background-image: url(http://p6htqszz4.bkt.clouddn.com/background_1.jpg);
    background-repeat:no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
}

.min_login{
    width:520px;
    height:378px;
    margin:0px auto;
    padding-top: 100px;
}
.login_T{
    width:520px;
    height:70px;
    border-radius:5px 5px 0px 0px;
}
.login_T span{
    margin:0 auto;
}
.login_T span h2{
    font-size: 30px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 1px 4px rgba(0,0,0,.2);
    margin:0px;
}
.login_C{
    width:520px;
    height:248px;
    border-radius:0px 0px 5px 5px;
    padding-top:40px;
}
.login_C span{
    display:block;
    width:396px;
    height:48px;
    border:1px solid #ededed;
    border-radius:4px;
     /* overflow:hidden; */
     margin:0 auto;
     margin-bottom:20px;
 }
.login_C span em{
    display:block;
    float:left;
    width:56px;
    height:48px;
    border-right:1px solid #ededed;
    background-color:#fafafa;
    text-align:center;}
.login_C span em img{
    width:20px;
    height:20px;
    margin-top:14px;
}
.login_C span input{
    width:329px;
    height:48px;
    line-height: 48px;
    border:0;
    float:left;
    padding:0;
    margin:0;
    padding-left:10px;
    font-size:14px;
    color:#666;
    border-radius: 0px;
}
.login_C a{
  color: #ef4300;
}
.login_C  .loginSubmit{
    background-color:#ef4300;
    border-radius:5px;
    margin:60px auto 0px;
    display:block;
    width:390px;
    height:48px;
    line-height:48px;
    color:#FFF;
    text-align:center;
    font-size:18px;
    text-decoration:none;
    -moz-box-shadow:0px 0px 10px #e9f7ff;
    -webkit-box-shadow:0px 0px 10px #e9f7ff;
    box-shadow:0px 0px 10px #e9f7ff;
    border: none;
}
.login_C .checkbox label{
    color: #ffffff;
    padding-left: 30px;
}
.login_C .checkbox input{
    height: 20px;
    width: 20px;
    margin: 0px;
    margin-left: -30px;
}
.login_C .help-block {
    color: green;
    font-size: 14px;
}
#signupform-code,#passwordresetrequestform-code{
    width: 140px;
}
#signupform-getcode,#passwordresetrequestform-getcode{
    float: right;
    margin-top: 24px;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
